@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap");

:root {
  /* cooolors/claret */
  --claret-dark-red: #590d22;
  --crimson-lake: #800f2f;
  --vivid-burgundy: #a4133c;
  --bright-maroon: #c9184a;
  --fiery-rose: #ff4d6d;
  --ultra-red: #ff758f;
  --ultra-salmon: #ff8fa3;
  --cherry-blossom: #ffb3c1;
  --modern-pink: #ffccd5;
  --lavendar-blush: #fff0f3;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--claret-dark-red);
  font-family: "Montserrat", sans-serif;
}
header nav {
  background: var(--bright-maroon);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px dimgrey;
  margin: -1em -1em 1.5em -1em;
  transform: rotate(2deg);
  padding: 2em;
  font-family: "Permanent Marker", cursive;
}

a {
  text-decoration: none;
  color: var(--cherry-blossom);
}
a:hover {
  color: var(--cherry-blossom);
  opacity: 0.9;
}
h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table,
.song-details {
  width: 90%;
  margin: auto;
  background: var(--vivid-burgundy);
  color: var(--modern-pink);
  border-radius: 10px;
  box-shadow: 4px 4px 8px dimgray;
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  padding: 1em;
}

td a {
  color: var(--jet);
  color: var(--lavendar-blush);
  font-size: 1.3em;
}

td a:hover {
  color: var(--rock-black);
  opacity: 0.5;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: var(--bright-maroon);
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

h6 span {
  font-weight: bold;
}
.song-details button {
  color: var(--misty-rose);
  width: 35%;
}

button:hover {
  color: var(--misty-rose);
  opacity: 0.9;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 15% 1fr 10%;
  grid-template-rows: auto 1fr auto;
  /* grid-gap: 10px; */
  height: 100vh;
  width: 100%;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: var(--cherry-blossom);
}

main {
  grid-area: content;
  margin-left: 0.5rem;
  padding: 05em;
  overflow: scroll;
}

aside {
  grid-area: aside;
  margin-right: 0.5rem;
  background: var(--lavendar-blush);
}

footer {
  grid-area: footer;
  background-color: var(--fiery-rose);
  height: 5vh;
}

aside,
.wrapper nav {
  transform: rotate(1deg);
  margin-top: -2em;
  margin-left: -1em;
  padding: 2em 2em;
  z-index: -5;
}

aside {
  transform: rotate(0deg);
  margin-right: -1em;
}

aside,
footer,
.wrapper nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="submit"] {
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 4px 4px 4px var(--shady-sand);
  width: 35%;
  margin: auto;
  text-align: center;
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--black);
  color: var(--oasis-blue);
}

button:active {
  outline: none;
}

.delete-button {
  background-color: var(--shady-sand);
}

.Index button {
  width: 20%;
  margin: 1em;
}

.Index button a {
  color: var(--fiery-rose);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Index {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 4em;
  text-shadow: 0 0 5px white, 0 1px 0 dimgray;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-areas:
      "header"
      "content"
      "nav"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      /* minmax(225px, auto) */
      1fr /* Content */
      minmax(80px, auto)
      auto; /* Footer */
  }

  main {
    overflow: scroll;
    font-size: 0.75em;
    margin-top: 8em;
  }

  .wrapper nav,
  aside {
    margin: 0;
    transform: rotate(0deg);
  }

  header {
    max-height: 1em;
  }

  aside {
    display: none;
  }
  footer {
    min-height: 3em;
  }
}
